 <b>Title:</b>
    <%= @quest.title %>
  </p>
 
  <p>
    <b>Description:</b>
    <%= @quest.description %>
  </p>
<b>Users:</b> 
<table>
<% @quest.users.each do |user| %>

<td><%= image_tag(Gravatar.new(user.email).image_url, :size => "30x30") %></td>
<td><%= link_to h(user.name), user %></td>

<%end%>
</table>


<p>
Add User:

<%= form_tag(:action => "show") do %>
  <%= label_tag(:q, "=>") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Add") %>
<% end %>
</p>
<h2>q's</h2>
<% @quest.qs.each do |q| %>

<div class ="post">
 <li><a href = <%= '/quests/'+@quest.id.to_s()+'/qs/'+q.id.to_s()%>>  
   <%= q.title %>:</a></li> 
 </div>
 </br>
<hr class = "line">
</hr>
 <% end %>
  <h2>Add a q:</h2>
<%= form_for([@quest, @quest.qs.build]) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
